header#header {
    height: 55px;
    width: 102%;
    background: black;
    margin-top: -1%;
    margin-left: -1%;
}
header#header h1.site_title {
    float: left;
    margin: 0;
    font-size: 16px;
    display: block;
    width: 35%;
    height: 55px;
    font-weight: normal;
    font-family: sans-serif;
    text-align: left;
    text-indent: 1.8%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #fff;
}
header#header h1.site_title a {
    color: #fff;
    text-decoration: none;
}
header#header h2.section_title {
    text-align: center;
    text-indent: 4.5%;
    width: 68%;
    font-family: sans-serif;
}
 header#header h2.section_title {
    float: left;
    margin: 0;
    font-size: 16px;
    display: block;
    width: 35%;
    height: 55px;
    font-weight: normal;
    text-align: center;
    text-indent: -1.2%;
    line-height: 55px;
    color: #fff;
    text-shadow: 0 -1px 0 #fff;
 
}
header#header h2.section_title a{
    text-decoration: none;
    color: #fff;
}
.btn_view_site {
    float: right;
    display: inline-block;
    margin-right: 15px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 16px;
}
#sidebar li a:hover{
    text-decoration: underline;
}
#header.btn_view_site a {
    display: block;
    margin-top: 12px;
    width: 91px;
    height: 27px;
    text-align: center;
    line-height: 29px;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 0 #fff;
    font-family: sans-serif;
    font-size: 16px;
}
aside#sidebar {
    width: 25%;
    float: left;
    height: 600px;
    max-height: 1960px;
    margin-top: 0px;
    margin-left: -1%;
    position: relative;
    padding: 2% 0% 0% 2%;
}
aside{
    display: block;
}
#sidebar h3 {
    color: #1F1F20;
    text-transform: uppercase;
    text-shadow: 0 1px 0 #fff;
    font-size: 17px;
    margin: 35px 0 10px 6%;
    display: block;
    float: left;
    width: 90%;
    font-family: sans-serif;
}
#sidebar ul {
    clear: both;
    margin: 0;
    padding: 0;
    height: 6%;
}

#sidebar li {
    margin: 0 0 6% 12%;
    padding: 0;
}
li {
    display: list-item;
    list-style: none;
}
#sidebar li a {
    color: #666666;
    text-decoration: none;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    text-shadow: 0 1px 0 #fff;
    margin: 2px 0;
    width: 50%;
}
#sidebar div .div1 .div2 .div3 {
margin: 0%;
}
.main_container{
    margin-top: 1px;
    width: 76%;
    margin-left: 24%;
    max-height: 1960px;
    height: 600px;
    display: block;
}
i.fas.fa-lock  fas fa-plus-circle {
    margin-right: 14%;
}
.my_profile {
    float: right!important;
    margin-right: 5px;
    margin-top: 1px;
}

i{
    font-size: 15px;
    margin-right: 5%;
}
#account{
    padding-right: 8px;
    border-right: solid 1px;
    color: white;
    cursor: pointer;
    font-family: 'Exo', sans-serif;
    font-size: 80%;
    text-decoration: none;
}
#icon1{
    margin-right: 5px;
    color: white;
}
#logout{
        padding-right: 8px;
        color: white;
        cursor: pointer;
        font-family: 'Exo', sans-serif;
        font-size: 80%;
        text-decoration: none;
}
#icon2 {
    margin-right: 5px;
    color:white;
}
/*products en Dashbord

#index{
    visibility: hidden;
}
*/

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
    border-color: #ddd;
    margin: 62px 113px;
    width: 50%;
}

.panel-heading {
    padding: 1px 15px 0px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;

}

/*.panel-default>.panel-heading {}*/
    

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}

.title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    line-height: 1.42857143;
}

h4 {
    font-size: 18px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #333;
}

.panel-body {
    padding: 15px;
    background-color: #fff;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input#product {
    display: block;
    width: 94%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#discription {
    display: block;
    width: 94%;
    height: 60px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input#price {
    display: block;
    width: 20%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

input#categorie {
    display: block;
    width: 30%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 8px;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/*Products-List*/

#dvcontainer {
    margin-top: auto;
    margin-right: 18px;
    width: 80%;
    display: table;
}

table {
    width: 100%;
    border-collapse: collapse;
    display: table;
    border-spacing: 2px;
    border-color: grey;
    background-color: white;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-top: 60px;
}

tbody {
    vertical-align: inherit;
    border-color: transparent;
}

tr {
    background-color: #fff;
}

tr:nth-child(even) {
    background-color: #f8f6ff;
}

th {
    font-family: Lato-Bold;
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
    padding-top: 18px;
    padding-bottom: 18px;
    font-weight: unset;
    padding-right: 10px;
    text-align: left;
    display: table-cell;
    vertical-align: inherit;
    text-align: center;
}

td {
    font-family: Lato-Regular;
    font-size: 15px;
    line-height: 1.4;
    padding-top: 1px;
    padding-bottom: 10px;
    font-weight: unset;
    padding-right: 10px;
    text-align: center;
}

button.btnEdit {
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    padding: 5px 12px;
    cursor: pointer;
}

button.btnDelete {
    background-color: #cc3d1e;
    border: 1px solid red;
    color: white;
    padding: 5px 12px;
    cursor: pointer;
    margin-left: 5px;
}


#divlist{

    margin-top: 8%;
}

table th{
    
    color: #f5eded;
    height: 42px;
    background-color: rgb(13, 13, 14);
    font-family: serif;
    
}
table tr {
    font-family: OpenSans-Regular;
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
    height: 50px;
   
}
tr:nth-child(even){
    background-color: #e8e9ed;

}
table td, table th {
    padding-left: 8px;
}
table{
    width: 85%;
    margin: 0 0% 0% 3%;
   
}
